body {
	margin: auto;
	background-color: #DCDCDC;
}

.header {
	text-align: center;
	background: #ff9960;
	color: white;
	font-size: 25px;
}

#logo {
}

#webname {
}

#account-selection {
}

.nav {
	background-color: #CBCBCB;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
}

#homepage-button {
}

#cart-button {
}

#about-us-button {
}

.page {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: verdana;
	background-color: #ffffff;
	float:center;
}

#page-of-day {
	float: left;
}

#top-page {
	float: left;
}

#readers-rating {
	float: left;
}

#content {
	float: left;
}

#your-rating {
	float: left;
}

#your-comment {
	float: left;
}

#readers-comments {
	float: left;
}

.footer {
	background-color: #ff9960;
	color: white;
	font-size: 25px;
	text-align: center;
	float: center;
}